@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  max-width: 1200px;
}

.navigation-user-container {
  display: flex;
  margin-left: auto;
}

.navigation-link {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  align-items: center;
}

.navigation-item {
  display: flex;
  padding: 0 16px;
}

.navigation-item-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-logo {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.button-register-form {
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  margin-left: 20px;
  padding-left: 34px;
  padding-right: 34px;
  border: 0;
}

.button-appointment {
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.button-submit {
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  border: 0;
  margin-bottom: 32px;
  padding-right: 50px;
  padding-left: 50px;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  background: none;
  border: 0;
  padding-right: 57px;
  padding-left: 57px;
}

.button-offer-card-details {
  display: block;
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  text-decoration: none;
  padding: 8px 26px;
}

.button-offer-card-favourite {
  background: #82B3D3;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
}

.button-offer-card-favourite-on {
  background: #7DB54F;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 275px;
  padding-right: 274px;
  padding-bottom: 90px;
  padding-top: 69px;
}

.hero-welcome {
  margin-top: 51px;
  margin-bottom: 82px;
}

.hero-images {
  background-image: url("../images/mountains_background.jpg");
  background-color: #E3F2F9;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 16px;
}

.hero-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-item:not(:nth-child(2)) {
  background: #F0F6FA;
}

.advantages-item:nth-child(2) {
 background: #E6F0F6;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 62px;
}

.advantages-description {
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-div {
  color: #FFFFFF;
  background: #82B3D3;
  padding: 0;
  display: flex;
}

.advantages-div-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-div-description {
  display: block;
  text-align: center;
  margin: 0;
}

.advice-item:not(:nth-child(2)) {
  background: #F0F6FA;
}

.advice-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 102px;
}

.advice-description {
  text-align: center;
  color: #333333;
  margin: 0;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.appointment-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter {
  background-image: url("../images/background_blured_index.jpg");
  background-color: #497DAA;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 54px;
  margin-left: 104px;
  margin-right: 104px;

}

.white {
  color: #FFFFFF;
}

.grey {
  color: #333333;
}

.field {
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  margin: 0 auto;
  border-radius: 4px 0 0 4px;
  border: 0;
  padding-left: 20px;
  min-width: 430px;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
}

.footer-logo {
  display: flex;
  margin-bottom: 8px;
  margin-top: 8px;
}

.footer-logo-link {
  display: flex;
}

.catalog-filters {
  background-image: url("../images/background_blured_catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #7FAACC;
  padding-top:35px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 50px;
}

.catalog-filters-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  min-height: 15px;
  min-width: 13px;
}

.breadcrumbs-item {
  padding-right: 10px;
  list-style: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}


.price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  padding: 12px 20px 12px 20px;
  border: 0;
  width: 103px;
}

.left {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.right {
  border-radius: 0 4px 4px 0;
}

.slider {
  margin: 0;
  margin-top: 36px;
  width: 287px;
  height: 20px;
}

.search-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.offer-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.offer-card-title {
  margin: 0;
}

.offer-card-image {
  margin-bottom: 16px;
}

.offer-card-type {
  color: #333333;
  margin: 0;
}

.offer-card-price {
  color: #333333;
  text-align: right;
  margin: 0;
  margin-left: auto;
}

.offer-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  margin: 0;
}

.stars {
  display: flex;
  min-width: 140px;
  align-items: center;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #82B3D3;
  border-radius: 4px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 8px;
  flex: 1;
}

.pagination-item:last-child {
  margin-right: 0;
  padding: 0;
}

.pagination-item.current {
  background: #F2F2F2;
}

.pagination-item.dots {
  background: #FFFFFF;
}

.pagination-link {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 12px 19px;
}

.pagination-link.current {
  color: #000000;
}

.pagination-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 16px 17px;
  margin: 0;
}

.page-container {
  margin: 0 auto;
  flex-grow: 1;
  min-height: 100%;
}

html {
  height: 100%;
}

.header-container {
  display: flex;
  padding: 0 70px;
}

.navigation {
 display: flex;
 justify-content: space-between;
 flex: 1;
}

.navigation-list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-list {
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-div-pic:nth-child(1) {
 margin-right: auto;
}

.advantages-div-pic {
  margin-left: auto;
}

.advantages-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  padding: 103px 85px 121px 85px;
  flex: 1;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 92px 85px 111px 85px;
}

.advice-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.advice-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.advice-item-container {
  display: flex;
  flex-direction: column;
  margin: 80px 85px 81px 85px;

}

.search-hotels {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px 258px;
}

.newsletter-form {
  display: flex;
  margin: 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-top: 5px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 190px;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  margin-bottom: 5px;
  margin-top: 5px;
}

.footer-social-link {
  display: block;
  min-width: 47px;
  min-height: 40px;
}

.footer-social-item {
  list-style: none;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.catalog-header-container {
  margin-bottom: 40px;
}

.page-inner-navigation {
  display: flex;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.catalog-filter-container {
  display: flex;
}

.filter-left-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: 0;
}

.infrastructure-container {
  margin-right: 70px;
  margin-bottom: 3px;
}

.catalog-filter-list-infrastructure {
  margin: 0;
  padding: 0;
  list-style: none;
}

.type-container {
  margin-bottom: 3px;
}

.catalog-filter-list-type {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-right-container {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 140px;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.price-input-container {
  display: flex;
}

.catalog-filter-group-price {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: 0;
}

.catalog-filter-title-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 0;
  margin-bottom: 32px;
}


.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.sort-container {
  margin: 0 auto;
  margin-bottom: 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.sort-buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.select-control {
  color: #333333;
  margin-right: 70px;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 14px;
  line-height: 21px;
  font-size: 18px;
  min-width: 292px;
}

.button-view {
  padding: 0;
  margin-right: 8px;
  min-height: 48px;
  min-width: 48px;
  cursor: pointer
}

.button-view:nth-child(4n) {
  margin-right: 0;
}


.catalog-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px 258px;
}


.pagination-container {
  display: flex;
  padding: 0 70px;
  margin-bottom: 60px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.cards-container {
  display: flex;
  margin: 0;
  margin-bottom: 80px;
  padding: 0 70px;
}

.offer-card {
  padding: 19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  row-gap: 16px;
}

.card-price-container {
  display: flex;
}

.card-button-container {
  display: flex;
  justify-content: space-between;
}

.card-rating-container {
  display: flex;
  justify-content: space-between;
}

.offer-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
