@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  max-width: 1200px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}

.button {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
}

.button-register-form {
  font-size: 16px;
  line-height: 20px;
  background: #756157;
}

.button-appointment {
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  min-width: 376px;
  padding: 0;
  margin: 0 auto;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  min-width: 232px;
  padding: 0;
  border: 0;
}

.button-submit {
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  min-width: 191px;
  border: 0;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  background: none;
  min-width: 191px;
  border: 0;
}

.button-offer-card-details {
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  text-decoration: none;
}

.button-offer-card-favourite {
  background: #82B3D3;
}

.button-offer-card-favourite-on {
  background: #7DB54F;
}

.hero-images {
  background-image: url("../images/mountains_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
}

.hero-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  min-width: 620px;
  margin: 0 auto;
}

.hero-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  min-width: 651px;
  margin: 0;
}

.advantages-item:not(:nth-child(2)) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2) {
 background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  min-width: 175px;
  margin: 0;
}

.advantages-description {
  text-align: center;
  color: #333333;
  min-width: 230px;
  margin: 0;
}

.advantages-div {
  color: #FFFFFF;
  background: #82B3D3;
  padding: 0;
  display: flex;
}

.advantages-div-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  min-width: 175px;
  margin: 0 auto;
}

.advantages-div-description {
  text-align: center;
  min-width: 230px;
  margin: 0 auto;
}

.advice-item:not(:nth-child(2)) {
  background: rgba(131, 179, 211, 0.12);
}

.advice-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  min-width: 230px;
  margin: 0 auto;
}

.advice-description {
  text-align: center;
  color: #333333;
  max-width: 230px;
  margin: 0 auto;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  min-width: 297px;
  padding: 0;
  margin: 0 auto;
}

.appointment-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  min-width: 592px;
  margin: 0 auto;
}

.newsletter {
  background-image: url("../images/background_blured_index.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  min-width: 404px;
  margin: 0;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  min-width: 475px;
  margin: 0;
}

.white {
  color: #FFFFFF;
}

.grey {
  color: #333333;
}

.field {
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  min-width: 452px;
  margin: 0 auto;
  border-radius: 4px;
  border: 0;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.catalog-filters {
  background-image: url("../images/background_blured_catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 0;
}

.catalog-filters-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  min-width: 495px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  min-width: 150px;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  max-width: 143px;
  padding: 0;
  border-radius: 4px;
  border: 0;
}

.search-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  min-width: 338px;
  margin: 0;
  margin-left: 70px;
}

.select-control {
  color: #333333;
}

.offer-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.offer-card-type {
  color: #333333;
  min-width: 140px
}

.offer-card-price {
  color: #333333;
  text-align: right;
  min-width: 140px;
}

.offer-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  min-width: 140px;
}

.pagination-item {
  background: #82B3D3;
  border-radius: 4px;
  width: 60px;
  text-align: center;
}

.pagination-item.current {
  background: #F2F2F2;
}

.pagination-item.dots {
  background: #FFFFFF;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-link.current {
  color: #000000;
}

.pagination-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.navigation {
 display: flex;
 justify-content: space-between;
 min-width: 872px;
}

.navigation-logo {
 margin-left: 70px;
}

.navigation-list-container {
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.navigation-list-user {
  margin: 0;
  margin-right: 70px;
  padding: 0;
}

.advantages-div-pic:nth-child(1) {
 margin-right: auto;
}

.advantages-div-pic {
  margin-left: auto;
}

.advantages-list {
  padding: 0;
  display: flex;
  margin: 0 auto;
  justify-items: center;
}

.advantages-item {
  min-width: 400px;
}

.advice-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.advice-item {
  min-width: 400px;
}

.search-hotels {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  min-width: 592px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  max-width: 684px
}

.page-footer {
  display: flex;
  justify-content: space-around;
}

.footer-contacts {
  min-width: 720px;
  text-align: center;
}

.footer-social {
  min-width: 142px;
}

.breadcrumbs {
  min-width: 114px;
  margin-right: auto;
  padding: 0;
}

.catalog-container {
  min-width: 1060px;
  margin: 0 70px;
}

.catalog-header-container {
  min-width: 1060px;
  padding: 0;
  margin: 0 auto;
}

.page-inner-navigation {
  min-width: 114px;
  display: flex;
  margin: 0 auto;
  margin-right: auto;
  margin-left: 70px;
  padding: 0;

}

.catalog-filter-container {
  display: flex;
  min-width: 1060px;
  justify-content: space-between;
}

.filter-left-container {
  min-width: 371px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: 0;
}

.catalog-filter-list-infrastructure {
  min-width: 112px;
  margin: 0;
  padding: 0;
}

.catalog-filter-list-type {
  min-width: 141px;
  margin: 0;
  padding: 0;
}

.filter-right-container {
  min-width: 549px;
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-filter-group-price {
  min-width: 288px;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.catalog-filter-title-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  min-width: 116px;
  padding: 0;
}


.buttons-container {
  max-width: 191px;
}

.sort-container {
  margin: 0 auto;
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
}

.sort-buttons-container {
  max-width: 538px;
}

.select-control {
  min-width: 292px;
  margin-right: 70px;
}

.button-view {
  max-width: 48px;
}

.pagination-container {
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  min-width: 400px;
  justify-content: space-evenly;
}

.cards-container {
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
}

.offer-card {
  max-width: 340px;
  padding: 0 20px;
  margin-right: 20px;
}

.offer-list {
  padding: 0;
  margin: 0;
}
